Repository KylinDC/co-canvas: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint --write, eslint --fix --cache

feat: downgrade dependencies version
  package.json
  pnpm-lock.yaml
Due: biome format --write

feat: user can't join another room
  src/components/ui/alert.tsx
  src/pages/Home.test.tsx
  src/pages/Home.tsx
  src/pages/Room.test.tsx
  src/pages/Room.tsx
  worker/rooms.ts
  worker/route.test.ts
  worker/route.ts
  worker/schemas.ts
Due: biome format --write, biome lint --write, eslint --fix --cache

feat: add error handling for Room page
  src/pages/Lobby.tsx
  src/pages/Room.test.tsx
  src/pages/Room.tsx
  worker/rooms.ts
  worker/route.ts
Due: biome format --write, biome lint --write, eslint --fix --cache

feat: add error boundary
  src/components/ErrorBoundary.test.tsx
  src/components/ErrorBoundary.tsx
  src/main.tsx
Due: biome format --write, biome lint --write, eslint --fix --cache

feat: add api to exit room
  worker/rooms.ts
  worker/route.ts
Due: biome format --write, biome lint --write, eslint --fix --cache

feat: use Button component to copy link
  src/pages/Room.tsx
Due: biome format --write, biome lint --write, eslint --fix --cache

feat: create a button to go back to lobby page
  src/pages/Room.tsx
Due: biome format --write, biome lint --write, eslint --fix --cache

feat: add feature to leave room and close room for host
  drizzle/0004_slim_dagger.sql
  drizzle/0005_furry_liz_osborn.sql
  drizzle/0006_dashing_scorpion.sql
  drizzle/meta/0004_snapshot.json
  drizzle/meta/0005_snapshot.json
  drizzle/meta/0006_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  src/components/ui/item.tsx
  src/components/ui/separator.tsx
  src/components/ui/sonner.tsx
  src/pages/Lobby.test.tsx
  src/pages/Lobby.tsx
  src/pages/Room.test.tsx
  src/pages/Room.tsx
  worker/db/schema.ts
  worker/rooms.test.ts
  worker/rooms.ts
  worker/route.test.ts
  worker/route.ts
  worker/schemas.ts
Due: biome format --write, biome lint --write, eslint --fix --cache

Revert "feat: downgrade dependencies version"
  package.json
  pnpm-lock.yaml
Due: biome format --write

feat: broadcast to all users in the room that room is closed
  src/pages/Room.tsx
  worker/room-do.ts
  worker/route.test.ts
  worker/route.ts
Due: biome format --write, biome lint --write, eslint --fix --cache

fix: allow user to join closed room joined before
  worker/room-do.ts
  worker/route.ts
Due: biome format --write, biome lint --write, eslint --fix --cache

feat: add notification for other user join or leave room
  src/pages/Room.tsx
  worker/room-do.ts
Due: biome format --write, biome lint --write, eslint --fix --cache

feat: add license key
  drizzle/0007_hard_human_fly.sql
  drizzle/meta/0007_snapshot.json
  drizzle/meta/_journal.json
  src/pages/Room.tsx
Due: biome format --write, biome lint --write, eslint --fix --cache

feat: add a github job to migrate remote schema
  .github/workflows/migrate-schema.yml
  wrangler.jsonc
Due: none

fix: fix join room test logic
  .github/workflows/migrate-schema.yml
  package.json
  src/pages/Room.tsx
  worker/room-do.ts
  worker/route.ts
Due: biome format --write, biome lint --write, eslint --fix --cache

fix: fix build without license
  .github/workflows/deploy.yml
Due: none

refactor: update worker code architecture
  README.md
  vitest.worker.config.ts
  worker/repositories/room.repository.test.ts
  worker/repositories/room.repository.ts
  worker/rooms.test.ts
  worker/rooms.ts
  worker/route.test.ts
  worker/route.ts
  worker/routes/room.routes.ts
  worker/services/room.service.test.ts
  worker/services/room.service.ts
Due: biome format --write, biome lint --write, eslint --fix --cache

doc: update README.md
  README.md
Due: biome format --write

doc: update README.md
  .env.example
  README.md
Due: biome format --write

feature: generate random room name in backend
  package.json
  pnpm-lock.yaml
  src/pages/Lobby.test.tsx
  src/pages/Lobby.tsx
  worker/routes/room.routes.ts
  worker/schemas.test.ts
  worker/schemas.ts
  worker/utils.ts
Due: biome format --write, biome lint --write, eslint --fix --cache

feature: add an overlay for closed room
  README.md
  src/pages/Room.tsx
Due: biome format --write, biome lint --write, eslint --fix --cache

fix: query room again after join room
  src/pages/Room.tsx
Due: biome format --write, biome lint --write, eslint --fix --cache

refactor: extract duplicate logic to a common function
  worker/services/room.service.ts
Due: biome format --write, biome lint --write, eslint --fix --cache

docs: run build before first time running worker tests
  README.md
Due: biome format --write

ci: allow manual trigger pipeline
  .github/workflows/deploy.yml
Due: none

Path conditions:
  biome format --write: any of: *.{ts,tsx,js,jsx,json,css,md}
  biome lint --write: any of: *.{ts,tsx,js,jsx}
  eslint --fix --cache: any of: *.{ts,tsx,js,jsx}
